# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Word temporary files
~$*.doc*

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.python-version

# Jupyter
.ipynb_checkpoints/

# Data (too large for git)
burney-attribution/data/bert_data/chunked_datasets/
burney-attribution/models/*.bin
burney-attribution/models/*.safetensors

# Outputs
*.pkl

# Archives (model downloads, data zips)
*.zip
*.tar.gz
*.tar

# Logs
*.log
